<!DOCTYPE html>
<html>
<head>
  <title>Ladyparts</title>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel="javascript" type="text/js" href="application.js">
</head>
<body>
<h1>Ladyparts</h1>

<div id="container">
</div>

<script type="text/javascript">
  d3.select("body").append("p").text("xyz");
</script>
</body>
</html>