<h1>Ladyparts</h1>
<div id="emma-graphic">

<div id="view_selection" class="btn-group">
  <input type='button' id='hideshow' value='hide/show'>
</div>
<div id="vis">
</div>
<div id='film-info'></div>
</div>