<h1>Ladyparts</h1>
<div id="emma-graphic">

<div id="view_selection" class="btn-group">
<!--         <a href="#" id="all" class="btn active">All Films</a>
        <a href="#" id="year" class="btn">Films By Year</a> -->
</div>
<div id="vis">
</div>
<div id='film-info'></div>

</div>