<!DOCTYPE html>
<html>
<head>
  <title>LadyPartsApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
