<p>We're ladies. Men are part of our lives, but we have other parts too. When we watch movies, we want to see other ladies who also have other parts of their lives.</p> 

<p>Which movies are like this? Who's acting in them? Who's making them? How much money are they earning? How many awards are they winning? Is anybody else watching them too? Do critics like them? What do the rest of us think?</p>

<p>Lady Parts brings together the <a href='http://bechdeltest.com/api/v1/doc'>Bechdel Test API</a> with the <a href='http://developer.rottentomatoes.com/io-docs'>Rotten Tomatoes API</a> to build a data set of information about films that have undergone the Bechdel Test.</p>

<p>Ladyparts was joyfully created by <a href='https://twitter.com/enspencer'>@enspencer </a> and <a href='https://twitter.com/plainpioneer'>@plainpioneer</a> at General Assembly. View & contribute to <a href='https://github.com/callen6/lady_parts'>our code on GitHub</a>.</p>

