<h2>The Bechdel Test is a thing!</h2>
<p>We're ladies. Men are part of our lives, but we have other parts too. When we watch movies, we want to see other ladies who also have other parts of their lives.</p>
<p>Which movies are like this? Who's acting in them? Who's making them? How much money are they earning? How many awards are they winning? Is anybody else watching them too? Do critics like them? Does Rotten Tomatoes? What do the rest of us think?</p>