<h2>What is the Bechdel Test?</h2>
<br>
<p>The Bechdel Test asks if a film:</p>
<br>
<p>1. has at least two (named) female characters,</p>
<p>2. who talk to each other,</p>
<p>3. about something other than a man.</p>
<br>
<p>The test originated in cartoonist Alison Bechdel's 1985 comic strip <a href='http://en.wikipedia.org/wiki/Dykes_to_Watch_Out_For'><i>Dykes to Watch Out For</i></a> and has since been adopted as a measure of gender bias in films.
</p>