<option directors="1">one film passes</option>
<option directors ="2">two films passing</option>
<option directors ="3">three films passing</option>
<option directors ="4">four films passing</option>
<option directors ="5">five films passing</option>
<option directors ="6">six films passing</option>
<option directors ="7">seven films passing</option>
<option directors ="8">eight films passing</option>
<option directors ="9">nine films passing</option>
<option directors ="10">ten films passing</option>
<option directors ="11" selected>> 10 films passing</option>

