<option dpm="1" selected>directors with one film passing</option>
<option dpm ="2">directors with two films passing</option>
<option dpm ="3">directors with three films passing</option>
<option dpm ="4">directors with four films passing</option>
<option dpm ="5">directors with five films passing</option>
<option dpm ="6">directors with six films passing</option>
<option dpm ="7">directors with seven films passing</option>
<option dpm ="8">directors with eight films passing</option>
<option dpm ="9">directors with nine films passing</option>
<option dpm ="10">directors with ten films passing</option>
<option dpm ="11">directors with 11 films passing</option>
<option dpm ="12">directors with 12 films passing</option>

