<option directors =" ">director name</option>
<option directors =" " selected>director name</option>

directors_array = Array.new
movies.each do |movie|
		begin
			if movie.critics_score >= 80 && movie.bechdel_rating = "3"
		      begin
		        directors_array << movie.director
		      rescue Exception => e
		        puts "Got an Exception of #{e.message}"
		      end
		  else
		  	puts 0
		  end
		rescue Exception => e
			puts "got exception #{e.message}"
		end
end

Alexandre Bustillo


got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass



Pedro Almodovar









Abbas Kiarostami





got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
Yojiro Takita




Hark Tsui




Drew Barrymore
Kim Longinotto
Duncan Jones






got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass









Tom Ford
0
0
0
0
J Blakeson
0
Jalmari Helander
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
0
Takashi Miike
0
0
Mathieu Amalric
0
0
0
0
0
0
0
John Michael McDonagh
0
0
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
Xavier Beauvois
0
0
0
Richard Press
0
0
0
0
0
Jean-Loup Felicioli
0
Jenny Deller
0
0
0
Rich Moore
Asghar Farhadi
0
got exception undefined method `>=' for nil:NilClass
0
0
Steven Soderbergh
0
got exception undefined method `>=' for nil:NilClass
Craig Zobel
0
0
Sean Baker
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
0
0
0
0
David Gordon Green
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
0
Morgan Neville
Peter Mullan
0
0
H.C. Potter
Stanley Kubrick
0
0
0
Nicolas Roeg
0
Savage Steve Holland
0
Jule Dash
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
0
got exception undefined method `>=' for nil:NilClass
0
got exception undefined method `>=' for nil:NilClass
Peter Jackson
Caroline Link
Martin Scorsese
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
0
Jacques Audiard
Marc Forster
0
Ken Loach
Jim Jarmusch
0
0
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
Guillermo del Toro
0
0
Tony Scott
Kirby Dick
0
0
Gus Van Sant
Claire Denis
James Bobin
0
0
0
Uli Edel
0
Seth Gordon
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
got exception undefined method `>=' for nil:NilClass
0
David Yates
Matthew Vaughn
0
Eli Craig
0
0
Lisa Aschan
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Charles Martin Smith
0
Jean-Pierre Ameris
David Fincher
Brandon Vietti
0
0
0
0
Guillermo del Toro
Peter Jackson
0
Sam Mendes
0
Hiroshi Aoyama
David Lynch
M. Night Shyamalan
0
0
0
Peter Jackson
Paul Thomas Anderson
0
0
0
0
0
Pedro Almodovar
Daniel Myrick
0
0
0
0
0
Pan Nalin
0
0
0
Gina Prince
0
0
0
Jonathan Glazer
0
Rob Sitch
0
0
0
Christopher Nolan
0
Karyn Kusama
0
0
Jay Roach
Kar Wai Wong
0
0
0
0
0
Christopher Guest
0
0
Robert Rodriguez
0
0
Majid Majidi
Pen-Ek Ratanaruang
0
Deepa Mehta Saltzman
0
0
Michael Cuesta
Richard Linklater
0
Mike Nichols
0
0
Hayao Miyazaki
Sandra Nettelbeck
0
John Cameron Mitchell
0
0
0
0
0
0
0
Sam Mendes
0
0
0
Cameron Crowe
0
0
0
0
Ang Lee
0
0
0
0
0
0
0
0
0
John Fawcett
0
Hilary Birmingham
0
Allan Moyle
0
0
0
Alejandro Amenabar
0
0
Steven Soderbergh
0
0
0
0
Alfonso Cuaron
Agnes Varda
0
Stephen Daldry
0
0
0
0
0
0
Charles Chaplin
0
0
0
Jafar Panahi
0
Alexander Payne
Lukas Moodysson
0
0
0
0
Chris Columbus
0
Fred C. Newmeyer
0
0
Raoul Walsh
Sergei M. Eisenstein
Charles Chaplin
Buster Keaton
Clarence Brown
0
Clyde Bruckman
Josef von Sternberg
Tod Browning
William A. Wellman
0
Edward M. Sedgwick
Paul Leni
0
Lewis Milestone
Robert Florey
0
0
0
Josef von Sternberg
Charles Chaplin
Tod Browning
Fritz Lang
William A. Wellman
0
Tod Browning
Edmund Goulding
Norman McLeod
0
Victor Halperin
0
Lloyd Bacon
George Cukor
Rouben Mamoulian
Jean Vigo
Cecil B. DeMille
0
Dwain Esper
0
0
Clarence Brown
0
0
Mark Sandrich
0
Michael Curtiz
0
Archie Mayo
0
W.S. Van Dyke
0
0
0
Leo McCarey
William A. Wellman
King Vidor
Norman Z. McLeod
0
Norman Taurog
Howard Hawks
Michael Curtiz
George Cukor
Jennie Livingston
Francois Ozon
0
Busby Berkeley
George Cukor
0
William Dieterle
Ernst Lubitsch
Lewis Milestone
Jean Renoir
George Cukor
William Wyler
Anatole Litvak
0
John Ford
Howard Hawks
William Wyler
Robert Z. Leonard
Alfred Hitchcock
0
Ludwig Berger
0
Orson Welles
Raoul Walsh
0
Preston Sturges
William Keighley
Preston Sturges
0
Michael Curtiz
Jacques Tourneur
Busby Berkeley
0
0
0
0
Emeric Pressburger
0
0
Herman Shumlin
Charles Vidor
William Wyler
Alf Sjoberg
Vincente Minnelli
0
John Cromwell
David Lean
Edgar G. Ulmer
Michael Powell
Michael Curtiz
Alfred Hitchcock
Howard Hawks
0
Charles Vidor
John Ford
Alfred Hitchcock
Roberto Rossellini
0
0
0
Joseph L. Mankiewicz
0
0
Max Ophuls
0
Laurence Olivier
Michael Powell
Alfred Hitchcock
Yasujiro Ozu
King Vidor
Joseph L. Mankiewicz
Ernest B. Schoedsack
Stanley Donen
0
Joseph L. Mankiewicz
George Cukor
Hamilton Luske
Henry Koster
Yasujiro Ozu
0
Robert Wise
0
Howard Hawks
Fritz Lang
Vincente Minnelli
0
Howard Hawks
Joseph L. Mankiewicz
0
John Ford
William Wyler
Billy Wilder
Richard Fleischer
0
Robert Wise
Anthony Mann
Nicholas Ray
0
Alfred Hitchcock
Stanley Donen
George Cukor
Joseph H. Lewis
0
Joseph L. Mankiewicz
Delbert Mann
Charles Laughton
Nicholas Ray
Alfred Hitchcock
0
Nicholas Ray
Fred M. Wilcox
0
Don Siegel
Walter Lang
John Ford
0
0
0
Dick Powell
0
Stanley Donen
Andrzej Wajda
Jacques Tourneur
0
Robert Stevenson
Ingmar Bergman
Alexander Mackendrick
Alfred Hitchcock
Margot Benacerraf
Stanley Kramer
Terence Fisher
0
Stanley Donen
0
0
Alfred Hitchcock
0
Otto Preminger
0
Robert Stevenson
0
Alfred Hitchcock
Fred Zinnemann
Francois Truffaut
Georges Franju
Yasujiro Ozu
Billy Wilder
Stanley Kramer
John Sturges
Alfred Hitchcock
Jean Cocteau
Henry Levin
0
William Wyler
Isao Takahata
Francois Truffaut
Billy Wilder
0
0
Tony Richardson
Akira Kurosawa
0
Terence Young
Chris Marker
David Lean
John Frankenheimer
Robert Aldrich
0
Alfred Hitchcock
Stanley Donen
Terence Young
Robert Wise
Don Sharp
Jean-Luc Godard
Orson Welles
0
Arthur Hiller
0
Paul Henreid
Sidney Lumet
0
Guy Hamilton
Joseph Losey
Robert Stevenson
George Cukor
Kizo Nagashima
Hiroshi Teshigahara
George Sidney II
Jean-Luc Godard
0
0
Roman Polanski
Robert Wise
Robert Stevenson
0
Lewis Gilbert
Sergio Corbucci
Francois Truffaut
Silvio Narizzano
0
0
Robert Wise
Stanley Donen
Luis Bunuel
0
Stuart Rosenberg
Robert Aldrich
0
Wolfgang Reitherman
Jacques Tati
George Roy Hill
0
0
0
William Wyler
0
Anthony Harvey
Blake Edwards
Mel Brooks
0
Lindsay Anderson
0
George Roy Hill
0
0
Peter Collinson
Ken Loach
0
John Sayles
0
0
0
Jean-Pierre Melville
0
Jerzy Skolimowski
0
0
0
0
0
Hal Ashby
0
Gordon Parks
Sam Peckinpah
Milos Forman
0
Eric Rohmer
0
John Boorman
Sydney Pollack
John Waters
Andrei Tarkovsky
Peter Bogdanovich
Terence Malick
0
William Friedkin
0
Peter Bogdanovich
Franklin J. Schaffner
Sidney Lumet
0
Melvin Frank
0
0
Mel Brooks
Francis Ford Coppola
0
0
0
0
Mel Brooks
Stanley Kubrick
Ellen Hovde
0
Steven Spielberg
Robert Altman
0
Sydney Pollack
Nagisa Oshima
Brian DePalma
0
Alfred Hitchcock
0
Sidney Lumet
Clint Eastwood
John G. Avildsen
Mel Brooks
0
Werner Herzog
0
0
Robert Bresson
0
Nobuhiko Obayashi
0
0
John Badham
0
George Lucas
Edouard Molinaro
Terrence Malick
Michael Cimino
0
John Carpenter
Ingmar Bergman
Richard Linklater
0
0
Martin Rosen
Ridley Scott
Bob Fosse
Francis Ford Coppola
0
Don Siegel
0
Terry Jones
0
Gillian Armstrong
0
0
Colin Higgins
John Landis
0
0
Mike Hodges
0
0
Martin Scorsese
0
0
0
Lawrence Kasdan
Wolfgang Petersen
0
0
0
Jean-Jacques Annaud
0
0
Louis Malle
Herbert Ross
Warren Beatty
Walter Hill
0
0
0
0
Peter Greenaway
Sam Raimi
0
0
0
0
Don Bluth
0
Alan J. Pakula
Sydney Pollack
0
Lewis Gilbert
0
0
John Sayles
Slava Tsukerman
0
0
James L. Brooks
David Cronenberg
John Badham
0
Milos Forman
0
0
0
Ivan Reitman
John G. Avildsen
0
Wes Craven
Wim Wenders
0
Alex Cox
John Hughes
Ron Howard
0
0
Wolfgang Petersen
0
Terry Gilliam
0
Andrew Bujalski
0
Donna Deitch
Jean-Luc Godard
0
0
0
0
0
0
0
0
Lisa Fruchtman
0
0
0
David Hugh Jones
0
0
Lone Scherfig
Jim Jarmusch
David Cronenberg
Woody Allen
0
0
Frank Oz
0
Francis Ford Coppola
Howard Deutch
James Ivory
Jim Abrahams
0
0
Gabriel Axel
0
0
0
Sam Raimi
0
0
0
Bill Forsyth
Bernardo Bertolucci
0
0
0
0
0
Joel Coen
0
0
Bruce Robinson
Jonathan Kaplan
Katsuhiro Otomo
0
0
0
Stephen Frears
0
John Cleese
0
Martin Brest
0
Percy Adlon
0
0
John Carpenter
0
Robert Zemeckis
Mike Nichols
0
James Cameron
Stephen Herek
Woody Allen
Peter Weir
0
0
John Musker
0
0
0
0
0
0
Jane Campion
0
0
0
0
Martin Scorsese
John McTiernan
0
0
Mike Leigh
0
Joel Coen
Abbas Kiarostami
0
0
0
0
Nicolas Roeg
0
Gary Trousdale
Bruce Beresford
0
0
Mike Newell
Lars von Trier
Terry Gilliam
Jim Abrahams
0
Mick Jackson
0
0
0
0
0
Jonathan Demme
Cynthia Scott
0
0
0
0
Tim Burton
0
Neil Jordan
Rob Reiner
0
0
0
Spike Lee
Robert Rodriguez
Jonathan Lynn
0
Robert Altman
Martin Brest
0
0
0
0
Penelope Spheeris
0
Rolf de Heer
0
0
Ivan Reitman
0
0
0
Wayne Wang
0
0
0
0
0
Steven Spielberg
Agnieszka Holland
0
0
0
0
0
0
0
0
0
Kar Wai Wong
Kevin Smith
Joel Schumacher
0
0
0
Tim Burton
0
0
Peter Jackson
0
0
John Dahl
Rob Minkoff
0
0
0
Quentin Tarantino
0
0
0
0
0
0
Ang Lee
0
0
0
0
0
Richard Linklater
0
0
0
0
John Schlesinger
0
0
0
0
Mathieu Kassovitz
0
0
Alfonso Cuaron
0
0
0
0
Todd Haynes
Ang Lee
0
0
John Lasseter
0
Emir Kusturica
0
0
Zach Braff
0
0
Cedric Klapisch
0
0
0
Joel Coen
Carroll Ballard
0
0
Jim McKay
0
0
0
Henry Selick
0
0
0
0
0
0
0
0
0
Wes Craven
Mike Leigh
Jonathan Frakes
0
0
Nicole Holofcener
0
Don Bluth
0
Joel Coen
Paul Thomas Anderson
Mike Leigh
0
Kevin Smith
0
0
0
0
0
0
0
Andrew Niccol
0
Gus Van Sant
John Musker
0
Neil LaBute
0
Curtis Hanson
Tom Shadyac
0
0
0
0
0
0
0
0
0
0
James Cameron
Lee Unkrich
0
0
0
0
0
Tony Kaye
0
0
0
0
0
0
0
Len Wiseman
0
0
0
Tony Bancroft
Don Roos
0
0
0
0
0
0
Kevin Lima
0
0
0
Bryan Singer
0
0
George Lucas
0
0
Andrew Adamson
Alexander Payne
0
Shekhar Kapur
0
Tom Tykwer
Andy Wachowski
0
0
0
0
David Fincher
John Madden
0
Doug Liman
0
0
0
0
0
0
Todd Solondz
0
0
0
0
0
0
0
0
0
Terry Zwigoff
0
0
0
0
Jim Jarmusch
0
0
0
0
0
0
0
0
0
Mark Waters (VIII)
Diego Lerman
0
0
0
0
0
0
Quentin Tarantino
0
0
0
0
0
Chris Sanders (III)
0
0
Christopher Nolan
0
0
0
Robert Altman
0
0
0
0
0
0
0
Stephen Chow
0
Mike Leigh
0
0
0
0
0
0
0
0
0
0
Chris Columbus
0
0
0
Todd Haynes
0
0
0
Rob Marshall
0
Lukas Moodysson
0
0
Abbas Kiarostami
0
Charles Stone III
0
0
0
0
Tamas Sas
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Henry Selick
0
0
Mike Newell
0
0
Eytan Fox
0
Sofia Coppola
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Hayao Miyazaki
0
0
Gavin O'Connor
Taylor Hackford
Ron Howard
Brett Sullivan
0
0
James Mangold
0
0
Quentin Tarantino
0
0
0
Takeshi Kitano
0
0
0
Edgar Wright
0
0
0
Tim Burton
0
0
0
0
0
0
Gregg Araki
Jon Favreau
0
0
0
Stephen Chow
Shane Black
0
0
0
0
0
0
0
0
0
0
0
Yoshifumi Kondo
Stanley Tucci
Joss Whedon
0
0
James Mangold
0
0
0
Brad Bird
0
Mike Leigh
Alice Wu
0
0
0
0
Fernando Meirelles
0
0
0
0
Ang Lee
Joshua Marston
0
0
0
0
0
Chris Williams
0
Gabor Csupo
0
0
0
0
Olivier Assayas
0
Billy Ray
0
0
0
Todd Field
Clint Eastwood
0
0
Fernando Eimbcke
Martin Scorsese
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Ki-duk Kim
0
0
0
Edgar Wright
0
0
Alain Berliner
Jason Reitman
0
0
0
0
0
0
0
0
0
0
0
0
Lee Unkrich
Stephen Frears
Doug Atchison
0
0
Aleksandr Sokurov
Angelina Jolie
0
0
0
0
0
Hany Abu-Assad
0
0
0
0
0
James Kerwin
0
0
0
0
0
Richard Glatzer
Ben Affleck
0
0
0
Ang Lee
Hans-Christian Schmid
0
0
0
0
0
0
0
0
0
Kevin Lima
David Silverman
0
0
0
Juan Antonio Bayona
Tony Gilroy
0
0
0
Ryan Fleck
Christopher Nolan
Andrea Arnold
0
0
0
0
0
0
0
0
0
Ethan Coen
Philip Groening
Andrew Leman
0
0
0
0
0
0
0
0
Tomm Moore
0
0
0
0
0
0
0
0
Woody Allen
0
James Cameron
0
0
0
Sean Penn
0
0
0
David Cronenberg
0
0
Hans-Christian Schmid
0
Tanya Hamilton
0
Martin McDonagh
0
0
Joe Wright
0
0
Oren Moverman
0
Claude Berri
0
0
0
0
0
0
0
0
0
Vincent Paronnaud
0
0
0
0
0
0
0
0
0
0
0
Bradley Raymond
0
0
Greg Mottola
0
Spike Jonze
0
0
0
Lisa Cholodenko
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Mai Tominaga
0
Kathryn Bigelow
0
0
Peter Hastings
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Gregg Bishop
Matteo Garrone
0
John Cameron Mitchell
0
0
0
0
Darren Aronofsky
0
0
0
0
0
0
0
0
0
0
0
0
0
Courtney Hunt
0
0
0
0
0
0
0
David Koepp
Lucia Puenzo
0
0
Tim Burton
0
Thomas Vinterberg
0
0
0
0
0
Pablo Trapero
0
Ben Affleck
0
0
0
Eran Kolirin
Alexander Payne
0
0
0
0
Jaume Balaguero
0
Mike Leigh
0
0
Peter Docter
0
0
0
0
0
0
0
0
0
0
0
Jamin Winans
Sam Mendes
Scandar Copti
0
0
0
0
Jonathan Demme
Greg Mottola
0
Andrzej Jakimowski
0
Ramin Bahrani
0
0
0
0
0
Derek Cianfrance
George Clooney
0
Darren Aronofsky
0
Sam Raimi
0
0
0
0
0
0
0
0
Claire Denis
0
Tim Burton
0
0
0
0
Kelly Reichardt
James L. Frachon
0
0
David Lean
Hayao Miyazaki
0
0
Luc Besson
0
Oren Peli
0
0
0
Ari Folman
0
0
Rajkumar Hirani
0
0
0
Scott Sanders
Gore Verbinski
Jason Reitman
0
0
0
0
0
Paddy Considine
0
0
Bennett Miller
0
0
Edgar Wright
0
0
0
0
0
Luca Guadagnino
0
Rachid Bouchareb
0
Matt Reeves
0
0
Andrea Arnold
0
Dee Rees
0
0
Raoul Ruiz
Suzi Yoonessi
0
0
0
0
0
0
0
0
Drew Goddard
Julian Jarrold
0
0
Samantha Morton
0
0
0
0
0
Rian Johnson
0
Mick Jackson
0
Will Gluck
David Fincher
0
0
Susan Seidelman
Emir Kusturica
Barry Levinson
Jonathan Levine
0
0
0
0
0
0
0
0
Urszula Antoniak
0
0
Pierre Coffin
0
0
0
0
0
0
Tomas Alfredson
0
0
0
0
0
0
Asghar Farhadi
0
0
Nigel Cole
0
Christopher Nolan
0
Giuseppe Capotondi
0
0
0
0
0
Gary Ross
0
0
Debra Granik
0
Ethan Coen
0
0
0
0
0
0
0
0
0
Richard J. Lewis
Haim Tabakman
0
Asif Kapadia
0
0
0
0
Mike Leigh
0
0
0
0
0
0
Richard Ayoade
0
Emilio Estevez
0
Mona Achache
0
0
0
Jean Becker
0
Rodrigo Cortes
0
0
Thom Fitzgerald
0
Yousry Nasrallah
Miguel Arteta
Paul Feig
0
0
0
0
0
0
Alexandre Franchi
0
0
Steven Soderbergh
Aki Kaurismaki
0
Lixin Fan
0
0
Kelly Reichardt
0
Francois Ozon
0
0
0
Mike Mills (II)
0
Paul Greengrass
0
0
0
0
Pablo Trapero
0
0
0
Tim Hetherington
Taika Waititi
0
Vera Farmiga
0
0
0
0
Ariel Schulman
Kim Jee-woon
0
0
0
0
0
0
0
0
0
0
0
0
Woody Allen
Tom McCarthy
0
Pedro Almodovar
Aki Kaurismaki
Rob Reiner
0
0
Chris Butler (XII)
Jason Reitman
0
0
0
0
0
0
0
0
0
0
Juan Antonio Bayona
0
Jannicke Systad Jacobsen
0
Michel Hazanavicius
0
0
0
Maiwenn Le Besco
0
0
0
0
0
0
Wayne Blair
0
Margarethe von Trotta
0
0
Frederic Jardin
Maryam Keshavarz
Athina Rachel Tsangari
0
0
0
0
0
0
Josh Trank
0
0
Pablo Larrain
0
0
0
Djo Munga
0
0
0
0
Andre Ovredal
0
Wes Anderson
0
0
0
0
0
0
0
0
David Gelb
0
0
Joshua Marston
0
Goro Miyazaki
0
0
Clint Eastwood
Yimou Zhang
0
0
0
0
0
0
0
0
0
0
Quentin Tarantino
0
0
Colin Trevorrow
0
0
0
0
0
Gareth Evans
Sion Sono
0
Markus Schleinzer
0
0
0
0
0
0
0
Martin McDonagh
Jeff Nichols (VI)
0
0
Mikael Marcimain
Aurora Guerrero
Jason Moore
0
Jake Schreier
0
Cate Shortland
0
0
Philippe Falardeau
Ben Wheatley
Felix Van Groeningen
0
Xiaoshuai Wang
0
Pablo Larrain
James Ponsoldt
Leos Carax
Mike Birbiglia
Anurag Basu
0
0
0
0
0
0
Jonathan Lisecki
Benh Zeitlin
0
Matthew Porterfield
Miguel Gomes
Christian Petzold
0
0
0
0
0
George Seaton
0
0
0
0
Yasujiro Ozu
Billy Wilder
0
0
0
0
Mario Bava
Haifaa Al-Mansour
Abdel Kechiche
0
Lake Bell
0
Ryan Coogler
Woody Allen
0
0
Lukas Moodysson
0
0
0
0
Edwin S. Porter
0
0
0
0
Robert Wiene
Benjamin Christensen
0
0
Buster Keaton
0
Buster Keaton
Rupert Julian
0
F.W. Murnau
Georg Wilhelm Pabst
0
Carl Theodor Dreyer
Dziga Vertov
Luis Bunuel
0
Josef von Sternberg
Luis Bunuel
0
Norman Z. McLeod
Leontine Sagan
Mervyn LeRoy
James Whale
Yasujiro Ozu
Erle C. Kenton
Alexander Korda
0
0
0
0
John Ford
Josef von Sternberg
James Whale
Frank Lloyd
0
0
0
0
0
George Stevens
Sam Wood
Frank Capra
0
Gregory La Cava
Michael Curtiz
0
Alfred Hitchcock
0
0
Edmund Goulding
A. Edward Sutherland
Sam Wood
0
0
John Ford
0
0
0
0
Charles Chaplin
0
Fritz Lang
0
Sam Wood
Michael Powell
Arthur Lubin
Frank Capra
0
George Waggner
Yasujiro Ozu
Orson Welles
Irving Rapper
0
Jacques Tourneur
0
Alfred Hitchcock
Carl Theodor Dreyer
Billy Wilder
Preston Sturges
0
Clarence Brown
Howard Hawks
0
John Cromwell
Mark Robson
0
0
Roy William Neill
0
Tay Garnett
0
Michael Powell
Carol Reed
0
0
Howard Hawks
Anatole Litvak
George Cukor
0
0
Jean Cocteau
Carol Reed
0
Nicholas Ray
Robert Bresson
Billy Wilder
John Huston
0
Billy Wilder
0
George Sidney II
Elia Kazan
Fred Zinnemann
John Ford
0
Fred Zinnemann
0
0
George Stevens
Yasujiro Ozu
Roberto Rossellini
Alfred Hitchcock
0
David Lean
Billy Wilder
Akira Kurosawa
Gordon Douglas
0
Jules Dassin
Alexander Mackendrick
Fred Zinnemann
0
0
Joshua Logan
0
0
Cecil B. DeMille
Sidney Lumet
Elia Kazan
John Huston
Jack Arnold
Tony Richardson
Federico Fellini
0
0
Blake Edwards
Anthony Mann
John Huston
Clyde Geronimi
David Swift
Elia Kazan
Herk Harvey
0
0
Andrei Tarkovsky
Morton DaCosta
Robert Mulligan
0
0
0
Billy Wilder
0
Jean-Luc Godard
0
0
0
0
Jacques Demy
0
0
Pier Paolo Pasolini
0
Robert Aldrich
Sidney J. Furie
Sergio Leone
Robert Bresson
0
John Frankenheimer
Andrei Tarkovsky
0
Sergio Leone
Leiji Matsumoto
Billy Wilder
0
0
Mike Nichols
Arthur Penn
0
Mike Nichols
Norman Jewison
0
Jean-Pierre Melville
0
Stanley Kubrick
0
0
Frantisek Vlacil
Franklin J. Schaffner
Franco Zeffirelli
0
Jean-Pierre Melville
Dennis Hopper
Leonard Kastle
John Schlesinger
Peter R. Hunt
Ronald Neame
Francois Truffaut
0
William Friedkin
0
0
0
Ian McNaughton
Peter Bogdanovich
0
0
0
Nicolas Roeg
Mel Stuart
0
Billy Wilder
0
0
0
0
0
Victor Erice
Woody Allen
George Roy Hill
Robin Hardy
Roman Polanski
Jacques Rivette
0
Alejandro Jodorowsky
Terry Gilliam
Andrei Tarkovsky
0
0
Peter Weir
0
0
0
Francois Truffaut
David Lynch
Nicholas Gessner
Richard Donner
0
0
Robert Altman
Woody Allen
Steven Spielberg
Francois Truffaut
0
0
0
0
Dario Argento
George A. Romero
John Guillermin
0
Alan Parker
John Landis
0
0
0
Rainer Werner Fassbinder
Carl Reiner
Woody Allen
0
Andrei Tarkovsky
Walter Hill
Louis Malle
0
Irvin Kershner
0
0
Richard Lester
Terry Gilliam
John Landis
0
Francois Truffaut
0
0
0
Abel Ferrara
Steven Spielberg
0
0
Ridley Scott
Barry Levinson
Steven Spielberg
Ingmar Bergman
Ted Kotcheff
Shohei Imamura
Tobe Hooper
Daniel Vigne
Nicholas Meyer
0
0
0
Godfrey Reggio
Bill Forsyth
0
John Landis
0
0
Wayne Wang
Joe Dante
Steven Spielberg
Thom Eberhardt
0
Norman Jewison
Pedro Almodovar
Martin Scorsese
0
0
Robert Zemeckis
0
John Hughes
0
0
0
0
Akira Kurosawa
0
Agnes Varda
0
Peter Faiman
James Cameron
0
0
Randal Kleiser
Ron Clements
0
0
0
0
Rob Reiner
Hayao Miyazaki
0
0
0
Wim Wenders
Patricia Rozema
Richard Donner
0
John Hughes
0
Rob Reiner
Paul Verhoeven
0
0
0
David Cronenberg
Terence Davies
John Waters
0
David Zucker
0
Hayao Miyazaki
0
0
0
0
Masanori Hata
Peter Greenaway
Gus Van Sant
0
0
0
Michael Lehmann
Kenneth Branagh
0
David S. Ward
Jim Jarmusch
0
0
0
0
Steven Soderbergh
0
Tim Burton
0
0
0
0
Bernt Amadeus Capra
Luc Besson
Mike Nichols
0
Joel Coen
0
0
Krzysztof Kieslowski
0
0
0
0
0
0
0
Nicholas Meyer
0
Frank Oz
Tim Robbins
0
0
James Foley
Hayao Miyazaki
0
0
0
Quentin Tarantino
0
Johnnie To
Martin Scorsese
0
0
0
0
0
Harold Ramis
0
0
Steven Spielberg
Woody Allen
Henry Selick
James Ivory
0
0
Steven Zaillian
0
Krzysztof Kieslowski
0
0
0
0
0
Taylor Hackford
0
0
0
0
0
0
0
0
0
John Pasquin
Jan de Bont
0
0
Krzysztof Kieslowski
Ron Howard
0
0
Jeffrey Friedman
0
Kar Wai Wong
0
0
0
0
0
0
0
Roger Michell
0
David Fincher
0
Bryan Singer
Todd Solondz
Jon Turteltaub
0
0
0
Larry Wachowski
0
0
Anthony Minghella
0
0
0
0
Kenneth Branagh
0
0
Caroline Link
0
Jafar Panahi
0
0
0
0
Tom Hanks
0
0
Kar Wai Wong
Roberto Benigni
Emir Kusturica
Jill Sprecher
0
0
0
0
0
Paul Thomas Anderson
0
0
0
Barry Sonnenfeld
0
James L. Brooks
0
Wes Craven
0
0
0
Peter Weir
0
0
0
0
John Lasseter
Andy Tennant
0
0
0
0
0
0
0
Martin Campbell
Steven Soderbergh
Gary Ross
0
Tamara Jenkins
0
0
0
0
Mark Dindal
0
0
Roger Michell
0
Brad Bird
0
0
0
0
0
0
0
0
Stephen Frears
0
Lukas Moodysson
Trey Parker
0
0
0
Hirokazu Koreeda
0
Ashutosh Gowariker
0
0
Nicole Holofcener
0
0
0
Steven Spielberg
0
Charles Herman-Wurmfeld
0
Wes Anderson
Kinji Fukasaku
Andrew Stanton
0
Stephen Daldry
0
0
0
0
0
0
0
0
0
0
Jiri Menzel
0
Gurinder Chadha
Dover Koshashvili
Danny Boyle
0
Bryan Singer
Satoshi Kon
Carlos Sorin
Sidney Lumet
0
0
Conrad Vernon
0
0
Tim Fywell
Wolfgang Becker
0
0
Alfonso Cuaron
0
0
0
0
0
0
Peter Hedges
0
0
Sam Raimi
Fernando Meirelles
0
0
0
0
0
0
Yoji Yamada
Jorgen Leth
0
0
0
0
0
0
Bill Condon
0
0
0
Kim Jee-woon
0
Noah Baumbach
Laura Gabbert
Michael Mann
0
0
0
0
0
0
0
Alexander Payne
Matthew Vaughn
0
0
0
Quentin Tarantino
0
Bennett Miller
0
0
0
Pawel Pawlikowski
0
0
0
0
0
0
0
Ross Kauffman
0
Rian Johnson
0
0
0
0
0
0
Julian Schnabel
0
0
0
Florian Henckel-Donnersmarck
0
0
Craig Brewer
0
Joe Wright
0
0
0
0
0
David Yates
0
Tommy Lee Jones
0
0
0
0
0
0
0
0
0
Marc Rothemund
0
0
0
0
Wes Anderson
George Clooney
0
0
0
0
0
0
0
0
Guy Maddin
0
0
0
0
0
0
0
Jonathan Dayton
0
0
0
0
0
0
0
0
0
Susanne Bier
0
Ulrich Seidl
0
Ken Loach
0
0
0
0
0
Jason Reitman
Joon-ho Bong
0
Mike Nichols
0
0
0
0
Kim Longinotto
0
0
0
Tom Vaughan
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Chan Wook Park
Clint Eastwood
0
Joseph Cedar
Michael Sucsy
0
Chan Wook Park
0
0
0
0
Tamara Jenkins
Ron Clements
0
0
0
0
0
Nicholas Stoller
Brad Anderson
0
0
0
Mamoru Hosoda
0
0
0
0
0
0
0
0
0
0
0
Ben Affleck
0
Joss Whedon
0
Satoshi Kon
Reha Erdem
Zhang Ke Jia
0
Michael Dougherty
0
0
Hayao Miyazaki
Nicole Holofcener
Fatih Akin
0
0
0
0
0
Ruba Nadda
0
0
John Carney
0
Andrew Stanton
0
0
Lee Daniels
Kiyoshi Kurosawa
Ben Stiller
Duncan Jones
0
0
Jan Troell
0
0
Martin Scorsese
0
0
0
Adam Elliot
0
0
0
Margarethe von Trotta
0
0
0
Danny Boyle
0
0
0
0
0
Marc Webb
0
0
0
0
0
0
0
0
David O. Russell
0
0
0
0
0
0
0
0
Philippe Claudel
0
0
0
0
Sandra Goldbacher
0
0
Werner Herzog
0
0
0
0
0
0
0
Sion Sono
Agnes Varda
0
Niels Arden Oplev
0
0
0
Tomas Alfredson
0
Ivan Reitman
0
0
0
Nina Paley
Ti West
0
Lone Scherfig
0
0
0
0
0
Sebastian Silva
Pedro Almodovar
0
0
0
0
Claudia Llosa
0
0
0
0
0
0
0
0
Megumi Sasaki
Cary Fukunaga
0
0
0
Phil Lord
0
Jacques Audiard
Javier Mariscal
0
Evan Goldberg
0
0
Jean-Francois Richet
0
Mamoru Oshii
0
0
0
0
0
Chang-dong Lee
0
Gavin O'Connor
David Keating
0
0
0
Jennifer Yuh Nelson
0
Juan Jose Campanella
0
David Michod
Rupert Wyatt
0
0
0
0
0
0
Louise Alston
0
Christopher Morris
Christopher Nolan
0
0
Ralph Fiennes
0
0
0
0
Xiaogang Feng
0
0
0
0
0
J.J. Abrams
0
0
0
0
0
0
Stephane Aubier
0
0
0
T. Sean Durkin
0
0
0
Stephen J. Anderson
0
0
Alfonso Cuaron
0
0
0
0
0
Joe Cornish
0
Samuel Maoz
0
0
Tom Hooper
Francois Ozon
0
0
0
0
0
0
0
0
0
0
0
0
0
Paul Thomas Anderson
0
0
Hiromasa Yonebayashi
Semih Kaplanoglu
0
0
0
0
Jonathan Levine
0
Goran Olsson
0
Steven Soderbergh
0
0
0
0
0
Joachim Ronning
0
Morten Tyldum
J.C. Chandor
0
0
0
0
0
0
0
0
Katell Quillevere
0
0
Simon Curtis
0
Stephen Chbosky
0
Stephane Lafleur
0
0
0
0
0
0
John Pogue
0
0
Andrew Haigh
0
0
0
0
0
Lynn Shelton
Geoffrey Enthoven
0
0
Ben Drew
0
0
0
0
0
0
0
0
0
0
0
0
0
Nuri Bilge Ceylan
Ben Lewin
0
Daniel Schechter
0
0
0
Ken Loach
Mohammad Rasoulof
Scott McGehee
0
0
0
0
0
0
0
Andrew Bujalski
0
0
0
0
0
Steven Soderbergh
0
Joss Whedon
0
Thomas Vinterberg
0
0
Mamoru Hosoda
0
0
Calin Peter Netzer
0
0
Richard Linklater
0
Joseph Gordon-Levitt
0
0
Cristian Mungiu
Joe Swanberg
0
0
Jay Oliva
0
Sarah Polley
0
0
0
Dexter Fletcher
Georges Melies
0
Ernst Lubitsch
Kenji Mizoguchi
0
John Ford
William Wyler
0
Frank Capra
0
0
Jacques Becker
0
Luchino Visconti
Agnes Varda
0
0
0
0
Francis Ford Coppola
John Lounsbery
0
Howard Zieff
0
Martin Scorsese
Frank Oz
0
David Lynch
0
0
0
Steven Spielberg
0
Duwayne Dunham
0
0
Hirokazu Koreeda
0
0
0
0
Erick Zonca
0
0
0
Denys Arcand
0
0
0
Lee Hirsch
Billy Ray
0
Michel Gondry
0
0
0
Jae-eun Jeong
0
0
0
0
0
Nicolas Winding Refn
0
0
Michael Winterbottom
Adam Shankman
0
Edgar Wright
0
0
0
0
0
0
0
Makoto Shinkai
0
Tim Burton
Chan Wook Park
0
0
0
Richard Eyre
Dwayne Carey-Hill
Terrence Malick
0
0
Sylvain Chomet
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
Denis Villeneuve
0
0
Giorgos Lanthimos
0
0
0
0
0
0
0
0
0
0
0
0
0
Cristian Mungiu
0
0
0
Roman Polanski
0
0
Brad Bird
0
0
0
Marius Holst
0
0
0
0
0
0
0
0
0
Nicholas Jarecki
Kathryn Bigelow
0
0
0
0
Apichatpong Weerasethakul
0
0
Madeleine Olnek
Derek Cianfrance
Julia Murat
0
0
0
0
0
Kimberly Peirce
0
0
0
0
0
0
Hideo Nakata
0
Jean-Pierre Jeunet
Curt Geda
