<div class="btn-toolbar">
<div id="view_selection" class="btn-group" style='width:100%'>
  <button type='button' class="btn" id='bechdel_about'><h2>The Bechdel Test</h2></button>
  <button type='button' class="btn" id='hideshow'><h2>Explore Films By Critics Score</h2></button>
  <button type='button' class="btn" id='cast_button'><h2>Explore films by actors</h2></button>
</div>
</div>

<div id='about'>
  <%= render "about" %>
</div>

<div id="barchart1">
<select id="json_sources" name="json_sources">
    <%= render "dropdown" %>
</select>​
<div id='vis1'></div>
<div id='donut'></div>
</div>

<div id='cast_svg'></div>
