

<div id='about'>
  <%= render "about" %>
</div>

<div id="barchart1">
<span>Choose A Year:</span>
<select id="json_sources" name="json_sources">
    <%= render "dropdown" %>
</select>​
<div id='vis1'></div>
<div id='donut'></div>
</div>

<div id='cast_svg'></div>
