<div id="view_selection" class="btn-group-vertical" style='width:100%'>
  <input type='button' class="btn btn-default btn-block" id='bechdel_about' value='The Bechdel Test'>
  <input type='button' class="btn btn-default btn-block" id='hideshow' value='Explore Films By Critics Score'>
  <input type='button' class="btn btn-default btn-block" id='cast_button' value='Explore films by actors'>
</div>

<div id="barchart1">
<select id="json_sources" name="json_sources">
    <%= render "dropdown" %>
</select>​
<div id='vis1'></div>
<div id='donut'></div>
</div>

<div id='cast_svg'></div>
