
<div id="view_selection" class="btn-group btn-toolbar" style='width:100%'>
  <button type='button' class="btn btn-default btn-block huge-button-text" id='bechdel_about'><h3>The Bechdel Test</h3></button>
  <button type='button' class="btn btn-default btn-block" id='hideshow'><h3>Explore Films By Critics Score</h3></button>
  <button type='button' class="btn btn-default btn-block" id='cast_button'><h3>Explore films by actors</h3></button>

</div>

<div id='about'>
  <%= render "about" %>
</div>

<div id="barchart1">
<span>Choose A Year:</span>
<select id="json_sources" name="json_sources">
    <%= render "dropdown" %>
</select>​
<div id='vis1'></div>
<div id='donut'></div>
</div>

<div id='cast_svg'></div>
