<!DOCTYPE html>
<html>
<head>
  <title>LadyPartsApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar">
	   <div class="navbar-inner">
	   	<a class="brand" href="#"><h1>Ladyparts</h1></a>
		    <ul class="nav pull-left">
		    	<li><a href="#"><a href="https://twitter.com/share" class="twitter-share-button" data-text="Does your favorite film pass the Bechdel test?" data-via="bechdelwatch" data-size="large">Tweet</a>
		    		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></a></li>
		    </ul>
  	</div>
	</div>

	<div class="container">
		<div class="row"> 
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</div>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
